<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>CRUD</title>
    

  </head>
  <body class="text-center">
    <% if (login) { %>
      <nav class="navbar navbar-dark" style="background-color: #6f42c1;">

        <li class="nav-item">
          <span class="navbar-brand mb-0 h1">Bienvenido <strong> <%= name %> </strong></span>
        </li> 
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" href="/logout">Cerrar sesión</a>
        </li> 
      </nav>
      <div  class="container">  
        <table id="tabla" class="table table-bordered table-striped text-center mt-4">
          <thead>
            <tr class="text-white" style="background-color: #6f42c1;">
              <th scope="col">ID</th>
              <th scope="col">USUARIO</th>
              <th scope="col">ROL</th>            
              <th scope="col">ACCIONES</th>            
            </tr>
          </thead>
          <tbody>
            <% results.forEach((user)=>{ %>
              <tr>  
                  <td><%= user.id %></td>  
                  <td><%= user.user %></td>
                  <td><%= user.rol %></td>
                  
                  <!--verificar rol -->
                  <td>
                    <% if(user.rol == "admin"|| user.rol == "entrenador"){ %>
                      <a href="/edit/<%= user.id %>" class="btn btn-outline-info"><i class='bx bxs-edit'></i></a>
                      <a href="/delete/<%= user.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>
                    <% } else if(user.rol == "usuario") {%>
                      <a href="/edit/<%= user.id %>" class="btn btn-outline-info"><i class='bx bxs-edit'></i></a>
                      <a href="/delete/<%= user.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>
                      <a href="/tarjeta/<%= user.id %>" class="btn btn-outline-info"><i class='bx bxs-credit-card-alt'></i></a>
                      <a href="/imc/<%= user.id %>" class="btn btn-outline-danger"><i class='bx bx-add-to-queue'></i></a>
                    <% }%>             
                  </td>
              </tr>    
            <% })%>  
          </tbody>
        </table>
        <button type="button" onclick="location.href='register'" class="btn btn-outline-success" style="float: right;" >Agregar nuevo usuario</button>
        </div>
        <a href="/agregarhora?parametro=salida" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script>
          $(document).ready(function () {
            $('#tabla').DataTable();
          });
        </script>
    <%} else { %>
      <h1> Error<strong><%= name %></strong></h1>   
      <a href="login" class="a-login">Ir a Iniciar sesión</a>
    <% } %>
  
  </body>
</html>
