<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color: #6f42c1;">
    <li class="nav-item">
      <span class="navbar-brand mb-0 h1">Editor: <strong> <%= name %> </strong></span>
    </li>  
  </nav>
  
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/agregarTarjeta" method="POST">
                         <input id="id" name="id" value="<%= id  %>">
                        <div class="mb-3">
                          <label for="user" class="form-label">Numero de Tarjeta</label>
                          <input type="text" class="form-control" id="numero" name="numero" tabindex="1" value="<%= tarjeta ? tarjeta.numeroTarjeta : '' %>">                        
                        </div>
                        <div class="mb-3">
                          <label for="user" class="form-label">Numero Secreto</label>
                          <input type="text" class="form-control" id="secreto" name="secreto" tabindex="1" value="<%= tarjeta ? tarjeta.codigoSecreto : '' %>">                        
                        </div>
                        <div class="mb-3">
                          <label for="user" class="form-label">Fecha de Vencimiento</label>
                          <input type="text" class="form-control" id="fecha" name="fecha" tabindex="1" value="<%= tarjeta ? tarjeta.fechaVencimiento : '' %>">                        
                        </div>                                                          
                        <div class="mb-3">
                          <label for="user" class="form-label">Estado</label>
                          <input type="text" class="form-control" id="estado" name="estado" tabindex="1" value="<%= tarjeta ? tarjeta.estado : 1 %>">                        
                        </div>     
                        <button type="submit" class="btn btn-success" tabindex="5">Guardar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
 <script>
    Swal.fire({
        title:'<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(()=>{
          window.location='/<%= ruta %>'
    })
    </script>
    <% } %>
</body>
</html>